.addpart{
    margin-top: 5.5cm;
    background-color: black;
    height: 16cm;
}
.adimage{
    height: 16cm;
    margin-left: 9cm;
}
.partyimage{
    background-color: #be9509;
    height: 6cm;
}
#partyim{
    margin-left: 8.5cm;
    height: 6cm;
    width: 30cm;
}